body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  color: #333;
  padding: 40px 0;
}

.form-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.form-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
  color: #2e026d;
  letter-spacing: 0.3px;
}

.form-label {
  font-weight: 500;
  color: #4a148c;
}

.form-control,
.form-select {
  border-radius: 8px;
  border: 1.5px solid #d1c4e9;
  transition: 0.3s ease;
  padding: 10px 12px;
  font-size: 15px;
}

.form-control:focus,
.form-select:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 5px rgba(124, 58, 237, 0.3);
}

.form-check-input:checked {
  background-color: #7c3aed;
  border-color: #7c3aed;
}

.btn-salvar {
  background: linear-gradient(#6c63ff);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.25s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 5px 12px rgba(126, 52, 255, 0.3);
}

.btn-gradiente:hover {
  transform: scale(1.05);
  opacity: 0.95;
  box-shadow: 0 8px 18px rgba(126, 52, 255, 0.45);
}

.btn-voltar{
  background: linear-gradient(#6c63ff);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.25s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 5px 12px rgba(126, 52, 255, 0.3);

}
.dias {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
}

.dia {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #007bff;
  background: transparent;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.25s ease;
}

.dia:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.dia.ativo {
  background-color: #007bff;
  color: #fff;
}

.sair {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-top: 5px; 
  align-items: center; 
}

.perfil {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #6c63ff;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}


